
<!--Image and H1-->

<div class="container">
  <div class="row" id="top">
    <div class="col align-self-center">
    <h1>Eat-Da-Burger!</h1>
  <br>
  <img src="/asset/burger.jpg" class="img-fluid" alt="delivious burger">
    </div>
    
  </div>
</div>


<!--Form, Form Title and Button-->
<div class="container">
  <div class="row" id="row2">
    <div class="col align-self-center">
     <h2 id="YB">Enter A New Burger</h2>
    <form class="create-form">
      <div class="form-group"></div>
      <label for="burger">Burger Name:</label>
      <input type="text" id="burger" name="name" style="height: 30px;">
      <button class="btn btn-secondary btn-sm" type="submit">Add Burger</button>
  </div>
  </form>
    </div>

  </div>
</div>

<!--Table for devoured and not devour burgers-->
<div class="container" id="tables">
  <div class="row justify-content-center">
    <div class="col-6" id="column1">
      <h2 class="titles">Your Burgers</h2>
      {{#each burgers}}
      {{#unless devoured}}
       {{>burgers/burger-block devoured=false}}
      {{/unless}}
      {{/each}}
      </ul>
    </div>

    <div class="col-6" id="column2">
      <h2 class="titles">Devoured Burgers</h2>
      <ul>
        {{#each burgers}}
        {{#if devoured}}
         {{>burgers/burger-block devoured=true}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
<ul>