body { 
    font-family: 'Sarabun', sans-serif;
    background-color: #e6dbac;
    }
#top {
display: center;
}
h1 {
    display: center;
    font-size: 20px;
}
form { 
    margin-left: 150%;
}
.YB{
    font-size: 15px;
    display: center;
}


